.anchoCompleto
{
	width: 100%;
}

.backGroundColorAzulClaro
{
	background-color: #5AC3EE;
}

.backGroundColorGrisClaro
{
	background-color: #F2F1F0;
}

.backGroundColorRojoClaro
{
	background-color: rgb(238, 121, 121);
}

.bordeArriba
{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bordeAbajo
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contenidoBottom
{
	display: inline-block;
	margin: 4px;
	vertical-align: bottom;
}

.contenidoMiddle
{
	display: inline-block;
	margin: 4px;
	vertical-align: middle;
}

.contenidoTop
{
	display: inline-block;
	margin: 4px;
	vertical-align: top;
}

.displayInlineBlock
{
	display: inline-block;
}

.textAlignCenter
{
	text-align: center;
}

.textAlignLeft
{
	text-align: left;
}

.textAlignRight
{
	text-align: right;
}